<!DOCTYPE html>
<html>
  <head>
    <title>Redditapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

            <% if flash[:errors] %>
              <% flash[:errors].each do |error| %>

                <div><%= error %></div>

              <% end %>

            <% end %>
        

    <%= yield %>
  </body>
</html>
